/*Primary*/
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$brightBlueHover: hsl(245, 90%, 61%);

/*Neutral*/
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

/*Hover Cancel Botton*/

$backgroundCancelButton: rgba(0, 0, 0, 0.089)

