//Primary
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$brightBlueHover: hsl(245, 90%, 61%);

//Neutral
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

//Hover Cancel Botton
$backgroundCancelButton: rgba(0, 0, 0, 0.089);

//Color effect-3 
$colorEffect-3: rgb(110, 190, 209);

