//Font Family
$fontRedHatDisplay: 'Red Hat Display', sans-serif;

//Font Weight
$fontMedium: 500;
$fontBold: 700;
$fontBlack: 900;

//Font Size
$fontSizeParagraph: 16px;

//Font link 
$fontSizeLink: 13px;
